.homePage {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* Adaptability */
@media (max-width: 1024px) {
  .homePage {
    gap: 60px;
  }
}

@media (max-width: 768px) {
  .homePage {
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .homePage {
    gap: 20px;
  }
}
